#map{ margin: auto;
    width: 60%;
    height: 70%;
    border: 3px solid #73AD21;
    padding: 10px;}
.heading{margin: auto;
 width: 60%}
h2 {text-align: center;}

.info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.info h4 {
margin: 0 0 5px;
color: #777;
}